<div class="row">

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemUsuario of usuarios" class="pointer" [routerLink]="['/usuarios']">
                            <td><img [src]="itemUsuario.img | imagen " class="img-50  img-circle"></td>
                            <td>{{itemUsuario.nombre}}</td>
                        </tr>

                    </tbody>
                </table>
                <div class="alert alert-info" role="alert" *ngIf="medicos.length === 0">
                    <strong>No hay registros</strong>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Médicos</h4>

                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemMedico of medicos" class="pointer" [routerLink]="['/medico', itemMedico._id ]">
                            <td><img [src]="itemMedico.img | imagen: 'medico' " class="img-50  img-circle"></td>
                            <td>{{itemMedico.nombre}}</td>

                        </tr>

                    </tbody>
                </table>
                <div class="alert alert-info" role="alert" *ngIf="medicos.length === 0">
                    <strong>No hay registros</strong>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Hospitales</h4>

                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemHospital of hospitales" class="pointer" [routerLink]="['/hospitales']">
                            <td><img [src]="itemHospital.img | imagen: 'hospital' " class="img-50  img-circle"></td>
                            <td>{{itemHospital.nombre}}</td>

                        </tr>

                    </tbody>
                </table>

                <div class="alert alert-info" role="alert" *ngIf="hospitales.length === 0">
                    <strong>No hay registros</strong>
                </div>

            </div>
        </div>

    </div>

</div>